<div class="container-fluid">

    <div class="row">
        <div class="col-sm">
           
        </div>
        <div class="col-sm">
            
            <form>
                <div class="form-group">
                <label for="exampleFormControlSelect1">Seleccione una Ciudad: </label>
                <select 
                    #mySelect
                    class="form-control" (change)='CargarClima(mySelect.value)' >
                    <option *ngFor="let pais of Ciudades" [value]="pais.value">{{pais.text}}</option>
                </select>
                </div>
               
            </form>

            <div *ngIf="this.clima">
            
                <div class="card text-center bg-dark text-white">

                        <br>
                        <h4 class="card-title" >{{clima.Ciudad}}</h4>
                          
                    <div class="row align-items-center">
                       

                        <div class="col-lg-6 justify-content-end">
                            <img [src]="clima.urlImage" class="card-img-top">
                        </div>
                        <div class="col-lg-6 justify-content-start">
                            <h1 class="card-title" >{{ (clima.Temperatura - 273.15) | number: '1.2-2'}}  ℃</h1>
                        </div>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title" >Humedad {{ clima.Humedad }} %</h5>
                        <h5 class="card-title" >Maxima {{ (clima.TempMaxima - 273.15) | number: '1.2-2'}} ℃</h5>
                        <h5 class="card-title" >Minima {{ (clima.TempMinima - 273.15) | number: '1.2-2'}} ℃</h5>
                        <h5 class="card-title" >Porcentaje de Nubes {{ clima.Porcentaje}} %</h5>
                    </div>
                </div>
            </div>
            

        </div>
        <div class="col-sm">
            
        </div>
    </div>



        <!--    <div class="card" style="width:100%;">
                <img src="http://openweathermap.org/img/wn/10n@2x.png" class="card-img-top" width="100%">
                <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>


        </div>
        <div class="col-sm">
            
        </div>
    </div>-->


</div>
